{{#if @global.ios}}
<div class="navbar">
    <div class="navbar-inner">
            <div class="left"><a href="#" class="open-panel link icon-only"><i class="f7-icons size-50">bars</i></a></div>
            <div class="center sliding">Экраны</div>
        <div class="right"></div>
    </div>
</div>
{{/if}}

<div data-page="listScreen" class="page">
    {{#if @global.android}}
    <div class="navbar">
        <div class="navbar-inner">
                <div class="left"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
                <div class="center">Экраны</div>
        </div>
    </div>
    {{/if}}
    <div class="page-content">
      <div class="content-block">
          
<div class="content-block">
        <p>Страница index.html должна быть пустой</p>
    </div>
    <div class="list-block">
        <ul>
            <li>
                <a href="page.html" class="item-link">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Инпут с маской</div>
                        </div>
                    </div>
                </a>
            </li>
         
        </ul>
    </div>

      </div>
    </div>
</div>

