{{#if @global.ios}}
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
        <div class="center sliding">Страница</div>
        <div class="right"></div>
    </div>
</div>
{{/if}}

<div data-page="page" class="page">
    {{#if @global.android}}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">Страница</div>
        </div>
    </div>
    {{/if}}
    <div class="page-content">
      <div class="content-block">
      <h1>Пример инпута с маской</h1>
      <input id="phone" type="tel" placeholder="Номер телефона"/>
      <p>
          Содержимое забирается через $('#phone').mask() без +7 в начале.
      </p>
      </div>
    </div>
</div>


