{{#if @global.ios}}
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
        <div class="center sliding">Страница</div>
        <div class="right"></div>
    </div>
</div>
{{/if}}

<div data-page="slider" class="page">
    {{#if @global.android}}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">Страница</div>
        </div>
    </div>
    {{/if}}
    <div class="page-content">
      
       
  <div class="content-block-title">2 Slides Per View, 20px Between</div>
  <div class="swiper-container swiper-2">
    <div class="swiper-pagination"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide"><span>Slide 1</span></div>
      <div class="swiper-slide"><span>Slide 2</span></div>
      <div class="swiper-slide"><span>Slide 10</span></div>
     <div class="swiper-slide"><span>Slide 1</span></div>
      <div class="swiper-slide"><span>Slide 2</span></div>
      <div class="swiper-slide"><span>Slide 10</span></div>
     <div class="swiper-slide"><span>Slide 1</span></div>
      <div class="swiper-slide"><span>Slide 2</span></div>
      <div class="swiper-slide"><span>Slide 10</span></div>
     <div class="swiper-slide"><span>Slide 1</span></div>
      <div class="swiper-slide"><span>Slide 2</span></div>
      <div class="swiper-slide"><span>Slide 10</span></div>
 
    </div>
  </div>


    </div>
</div>
